:root {
    --color-fondo: #ffffff;
    --color-texto: #000000;
    --color-precio: #333333;
    --color-descuento: #666666;
    --color-primario: #0033ff;
    --color-secundario: #e0e0e0;
    --color-carrito-fondo: #f9f9f9;
    --color-carrito-borde: #ddd;
    --fuente-principal: 'Arial', sans-serif;
    --color-boton: #fec195;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--color-secundario);
  }
  
  .logo {
    font-size: 1rem;
    font-weight: bold;
  }
  
  nav a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }
  
  .icons span {
    margin-left: 1rem;
    font-size: 1rem;
  }
  
  main {
    padding: 4rem;
    text-align: center;
  }
  
  main h2 {
    font-size: 2em;
    margin-bottom: 1rem;
    color: #4a2f13;
  }
  
    .btn-agregar{
    padding: 0.1rem 0.1rem;
    background: var(--color-boton);
    font-size: 1em;
    color: #181818;
    border: 1rem solid var(--color-boton);
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .logoair{
    height: 5vh;
    width: 2.5vw;
  }
  
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
  
  .producto {
    border: 1px solid #eee;
    padding: 1rem;
    transition: transform 0.3s;
  }
  
  .producto:hover {
    transform: scale(1.03);
  }
  
  .producto img {
    width: 100%;
    max-height: 25vh;
    object-fit: contain;
  }
  
  .producto .name {
    font-weight: bold;
    margin: 1rem 0 5px;
  }
  
  .producto .precio {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .producto .descuento {
    font-size: 1em;
    color: #444;
  }
  
  .producto .descuento span {
    color: var(--color-descuento);
  }
  
   /* carrito estilos  */
  .carrito {
  
      position: absolute;
      top: 2rem;
      right: 1rem;
      width: 15vw; 
      background-color: white;
      border: 1px solid #ccc;
      padding: 1.4rem;
      z-index: 999;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      font-size: 14px;
  }
  
  .carrito .producto {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
  }
  
  .carrito .cantidad {
      display: flex;
      align-items: center;
  }
  
  .carrito .cantidad input {
      width: 3vw;
      text-align: center;
      margin: 0 5px;
  }
  
  .carrito .eliminar {
      cursor: pointer;
      margin-left: 5px;
  }
  
  .btn-product{
    background: var(--color-boton);
    font-size: 1em;
    color: #181818;
    border: 0.6rem solid var(--color-boton);
    border-radius: 0.2rem;
    cursor: pointer;
  }
  .input-prod{
    background-color: var(--color-boton);
    height: 2rem;
  }